__pycache__/
/.venv/
.direnv/
.devenv/
.envrc.private
result
.pre-commit-config.yaml

# nixago: ignore-linked-files
/checkpoints/personalized_models/unet_disney/diffusion_pytorch_model.bin
/checkpoints/personalized_models/toonyou_beta6.safetensors
/checkpoints/personalized_models/xsarchitectural_v11.ckpt
/checkpoints/personalized_models/majicmixRealistic_v6.safetensors
/runs/pasd/checkpoint-100000
/checkpoints/stable-diffusion-v1-5/vae/diffusion_pytorch_model.bin
/checkpoints/stable-diffusion-v1-5/v1-5-pruned-emaonly.safetensors
/checkpoints/stable-diffusion-v1-5/text_encoder/model.safetensors
/checkpoints/stable-diffusion-v1-5/model.safetensors
/annotator/ckpts/yolov8n.pt
/annotator/ckpts/RetinaFace-R50.pth
/.vscode/extensions.json
